# ===== System =====
.DS_Store
Thumbs.db

# ===== Editors / IDEs =====
.idea/
.vscode/
*.iml

# ===== Logs =====
*.log

# ===== Node (only if you add it later) =====
node_modules/
dist/
build/
.cache/
